<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}SMC{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
    <header>
        <h1>Social Media Campaigns (SMC)</h1>
        <nav>
            <ul>
                <li><a href="home.php">Home</a></li>
                <li><a href="information.html">Information</a></li>
                <li><a href="popular_apps.html">Popular Apps</a></li>
                <li><a href="parents_help.html">Parents Help</a></li>
                <li><a href="livestreaming.html">Live Streaming</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="legislation.html">Legislation</a></li>
                <li><a href="logout.php">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Social Media Campaigns</p>
    </footer>
</body>

</html>